<div class="border border-top-0 border-start-0 border-end-0 py-4">
  <div class="d-flex gap-3">
    <div class="image-community" style="background-image: url({{comment.user.image}})"></div>
     <div>
      <h4 class="mb-1">{{comment.user.username}}</h4>
      <p class="m-0">{{comment.body}}</p>
      <img src="{{comment.image}}">
     </div>
    <div class="d-flex align-items-center" style="margin-left: 60px;">
    {{#if comment.isMine}}
      <form class="m-0" action="/comments/{{comment.id}}/delete" method="POST">
        <button class="btn text-danger" type="submit">
          <i class='bx bxs-trash'></i>
        </button>
      </form>
    {{/if}}
   
     <button class="like-btn btn text-primary" type="button" value="{{comment.id}}">
      <span>{{comment.likes.length}}</span>
      
      {{#hasLike currentUser=currentUser comment=comment}}
        <i class="bi bi-heart-fill"></i>
      {{else}}
        <i class="bi bi-heart"></i>
      {{/hasLike}}
    </button>
    </div> 
  </div>
</div>