<div>
    <h1>analytics</h1>
    <p>IMC: {{profile.IMC}}</p>
    <p>{{profile.weight}}</p>
    <p>Diet Goal: {{profile.dietGoal}}</p>
    <p>Weight Goal: {{profile.weightGoal}}Kg</p>
    <p>Recommended Kcal: {{profile.GET}}</p>
</div>