<div class="analytics-container">
    <h1>analytics</h1>
    <p>IMC: {{profile.IMC}}</p>
    <p>{{profile.weight}}</p>
    <p>Diet Goal: {{profile.dietGoal}}</p>
    <p>Weight Goal: {{profile.weightGoal}}Kg</p>
    <p>Recommended Kcal: {{profile.GET}}</p>
</div>
<div id="chart">

</div>
<script>

    var options = {
  chart: {
    type: 'line'
  },
  series: [{
    name: 'sales',
    data: [30,40,35,50,49,60,70,91,125]
  }],
  xaxis: {
    categories: [1991,1992,1993,1994,1995,1996,1997, 1998,1999]
  }
}

var chart = new ApexCharts(document.querySelector("#chart"), options);

chart.render();
</script>