<div class="ingredients-micronutrients">
    <h1 class="name-ingredient">{{ingredient.name}}</h1>
    <h6 class="name-ingredient">Values per: {{ingredient.amount}}g</h6>
    <h1>{{ingredient.caloricBreakdown}}</h1>
    <ul class="list-micrunutrients">
        {{#each ingredient.nutrition.nutrients as |nutrient|}}
            <li>{{nutrient.name}} : {{nutrient.amount}}{{nutrient.unit}}</li>
        {{/each}}
    </ul>
</div>