<div class="recipes-container">
    <h1>Recipes</h1>
    <h6>If you want to see more especific recipes, choose from a category below:</h6>
    <div class="recipes-list">
        <ul>
            <div class="recipes-vegetarian links-recipes">
                <li>
                    <a href="/recipes/vegetarian">Vegetarian</a>
                </li>
            </div>
            <div class="recipes-ketogenic links-recipes">
                <li>
                    <a href="/recipes/ketogenic">Ketogenic</a>
                </li>
            </div>
            <div class="recipes-vegan links-recipes">
                <li>
                    <a href="/recipes/vegan">Vegan</a>
                </li>
            </div>
            <div class="recipes-paleo links-recipes">
                <li>
                    <a href="/recipes/paleo">Paleo</a>
                </li>
            </div>
            <div class="recipes-gluten-free links-recipes">
                <li>
                    <a href="/recipes/gluten-free">Gluten Free</a>
                </li>
            </div>
        </ul>
    </div>

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="width: 100%">
        <ol class="carousel-indicators">
            {{#each recipes as |recipe|}}
                <li data-target="#carouselExampleIndicators" data-slide-to="{{recipe.index}}" {{#if recipe.activeSlide}}class="active"{{/if}}></li>
            {{/each}}
        </ol>
        <div class="carousel-inner">
            {{#each recipes as |recipe|}}
                <div class="carousel-item {{#if recipe.activeSlide}}active{{/if}}">
                    <img class="d-block w-100" src="{{recipe.image}}" alt="{{recipe.title}}">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>{{recipe.title}}</h5>
                        <p><a href="/recipes/detail/{{recipe.id}}">Click to see more!</a></p>
                    </div>
                </div>
            {{/each}}
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>